.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  padding: 20px 0;
}

.details button {
  font-size: 1.5em;
}

.dog {
  background-image: url('/img/dog-background.jpg');
}

.cat {
  background-image: url('/img/cat-background.jpg');
}
