$heading-font-family: 'Shadows Into Light', cursive;
$base-font-family: 'Lato', sans-serif;
$base-font-size: 16px;
$base-color: #333;

html {
  font-size: $base-font-size;
}

body {
  margin: 0;
  padding: 0;
  font-family: $base-font-family;
  color: $base-color;
}

h1,
h2,
button {
  font-family: $heading-font-family;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  flex: 1;
  flex-direction: column;
}
